#container {
  display: grid ;
  background-color : grey ;
  border : "thick solid black" ;
  height : 700px ;
  width : 700px ;
  overflow : auto ;
}

#div1{
  grid-column : 1 ;
  background-color : blue ;
}

#div2{
  grid-column : 2 ;
  background-color : red ;
}
